h1,h2,h3{
    text-align: center;
}
h1{
    font-family: "Protest Guerrilla", sans-serif;
    color: red;
    font-size: 50px;
    background: #f7f1e3; 
    font-style: oblique;

}
h2{
    background: #dbe941;
    color: #0a0000;
    font-size: 25px;
}
h3{
    font-size: 20px;
    font-style: oblique;
}


table,th,td{ 
    border: 10px groove rgb(101, 102, 116);
    padding: 10px;
    border-collapse: collapse;
    margin:40px;
}
th{
    background: #18dcff;
    height: 40px;
    color: #0a0000;
    font-size: 30px;
    font-family: "Baskervville SC", serif;
}
th:hover{
    background: #ff3838;
}
td{
    background-color: #32ff7e;
    font-size: 20px;
    font-family: "Oswald", sans-serif;
text-align: center;
margin: 10px;
padding: 10px;

}
td:hover{
    background: #fff200;
}
   table{
    width: 90%;
height:350px;
   }
    p{
        text-align: right;
      
      
    
    }
    .one{
        border: 2px dotted red;
    }
div{
    background-color: rgb(251, 253, 253);
border: 2px solid red;
height: 80%;
}
   